@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.pathCard {
    @apply bg-gray-500 border-4 border-black rounded-[4rem] p-5 h-max;
}
.pathCard > p {
    @apply w-full text-center text-2xl ;
}

.pathCard > * {
    @apply pointer-events-none;
}

.hide {
    @apply absolute border-4 border-gray-900 w-max -top-[600px] bg-slate-200 text-black rounded-full cursor-default p-1 opacity-0 transition-all duration-200;
}

.hasHelp:hover + .hide {
    @apply opacity-100 -top-8;
}

.otherImg {
    @apply min-h-[19vh] min-w-[19vh] max-h-[19vh] max-w-[19vh] m-[1vh] float-right
}
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.4);
    border-radius: 16px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 16px;
    height: 50%;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img:not(.otherImg) {
    pointer-events: none;
}
